h2.pagecaption {
	background: transparent;
	padding-bottom: 2rem;
	position: absolute;
	z-index: 1;
	padding: 1.5rem;
	margin: 0;
  width: 100%;
  text-shadow: 0 0 .5rem rgb(255,255,255);
}
.article {
  margin: -10rem auto 0 auto;
  position: relative;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background: #fff;
  box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.12);
  text-align: left;
}
.article > h2 {
  margin-top: 0;
}
.infotitle {
  color: rgba(0,0,0,0.3);
}
.footerinfo {
  display: inline-block;
  margin: 1rem auto;
  width: 80%;
  font-size: .8rem;
  text-align: right;
  color: rgba(0,0,0,0.5);
}
.footerinfo a, .footerinfo a:hover {
  color: rgba(0,0,0,0.5);
}
.subtitle {
  color: rgba(0,0,0,0.3);
  margin-bottom: 0;
}